@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Utilice sus credenciales para acceder al sitio.</h4>
                <hr />
                <div id="message" class="text-danger"><p>@TempData["Message"]</p></div>
                <!--div asp-validation-summary="All" class="text-danger"></div-->
                <div class="form-group">
                    <label asp-for="Username">Usuario</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Contraseña</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="submit_btn" type="submit" class="btn btn-default">Iniciar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">¿Olvidó su contraseña?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(function () {
            $('#submit_btn').on('click', function (e) {
                $('#message').empty();
            });
        });
    </script>

}
