input.checknull {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

img.resaltar:hover {
    border: 2px solid #00afff;
}

img.resaltar {
    max-height: 170px;
    -o-object-fit: contain;
    object-fit: contain;
}

.carousel .carousel-control {
    visibility: hidden;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
}

.carousel:hover .carousel-control {
    visibility: visible;
}

a.carousel-control {
    /*height: 26%;*/
    /*top: 33%;*/
    width: 42px;
    /*background: black;*/
}

div.comentario {
    padding-top: 2px;
}

span.ellip {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: calc(100% - 12px);
}

button.ellip {
    text-overflow: ellipsis;
    word-wrap: normal;
    overflow: hidden;
}

.pagination {
    margin: 0px;
}

.dropdown-menu.special li a {
    font-size: 12px;
    width: 745px;
    white-space: normal;
}

.navbar-inverse {
  background-color: #033c73;
  border-color: #022f5a;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #022f5a;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #022f5a;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #022f5a;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #022f5a;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #022a50;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #022f5a;
  color: #ffffff;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    .dropdown-menu.special li a {
        font-size: 12px;
        width: 100%;
        white-space: normal;
    }

    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    div.gallery {
        margin: 5px;
        padding: 2px;
        border: 1px solid #ccc;
        float: left;
        width: 152px;
    }


    div.gallery img {
        width: 100%;
        height: auto;
        float: left;
        position: relative;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }

    @media only screen and (max-width: 150px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 150px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }


}
