@model odaeWeb.Models.DB.Codificacion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Codificacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodificadorId" class="control-label"></label>
                <select asp-for="CodificadorId" class ="form-control" asp-items="ViewBag.CodificadorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FaseId" class="control-label"></label>
                <select asp-for="FaseId" class ="form-control" asp-items="ViewBag.FaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaterialId" class="control-label"></label>
                <select asp-for="MaterialId" class ="form-control" asp-items="ViewBag.MaterialId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NivelId" class="control-label"></label>
                <select asp-for="NivelId" class ="form-control" asp-items="ViewBag.NivelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NivelComentario" class="control-label"></label>
                <input asp-for="NivelComentario" class="form-control" />
                <span asp-validation-for="NivelComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label"></label>
                <select asp-for="CursoId" class ="form-control" asp-items="ViewBag.CursoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EjeId" class="control-label"></label>
                <select asp-for="EjeId" class ="form-control" asp-items="ViewBag.EjeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ObjetivoId" class="control-label"></label>
                <select asp-for="ObjetivoId" class ="form-control" asp-items="ViewBag.ObjetivoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ObjetivoComentario" class="control-label"></label>
                <input asp-for="ObjetivoComentario" class="form-control" />
                <span asp-validation-for="ObjetivoComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HabilidadId" class="control-label"></label>
                <select asp-for="HabilidadId" class ="form-control" asp-items="ViewBag.HabilidadId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HabilidadComentario" class="control-label"></label>
                <input asp-for="HabilidadComentario" class="form-control" />
                <span asp-validation-for="HabilidadComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTareaId" class="control-label"></label>
                <select asp-for="TipoTareaId" class ="form-control" asp-items="ViewBag.TipoTareaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoTareaComentario" class="control-label"></label>
                <input asp-for="TipoTareaComentario" class="form-control" />
                <span asp-validation-for="TipoTareaComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreccionProfesor" class="control-label"></label>
                <input asp-for="CorreccionProfesor" class="form-control" />
                <span asp-validation-for="CorreccionProfesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErrorEjecucion" class="control-label"></label>
                <input asp-for="ErrorEjecucion" class="form-control" />
                <span asp-validation-for="ErrorEjecucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrabajaDinero" class="control-label"></label>
                <input asp-for="TrabajaDinero" class="form-control" />
                <span asp-validation-for="TrabajaDinero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
